<div>
    <input type="text" placeholder="cerca" [(ngModel)]="inputValue" />
    <button (click)="cerca()">Cerca</button>
    <div *ngIf="currentGame">

        ID: {{currentGame?.id}}<br> titolo: <input placeholder="titolo" id="nome" [(ngModel)]="currentGame.name" /><br> descrizione: <input placeholder="descrizione" id="descrizione" [(ngModel)]="currentGame.descrizione" /><br> genere: <input placeholder="genere"
            id="genere" [(ngModel)]="currentGame.genere" /><br> rating: <input placeholder="rating" type="number" id="rating" [(ngModel)]="currentGame.rating" /><br> prezzo: <input type="number" placeholder="prezzo" id="prezzo" [(ngModel)]="currentGame.prezzo"
        /><br> anno:
        <input type="number" placeholder="anno" id="anno" [(ngModel)]="currentGame.annoUscita" /><br>
        <button (click)="modifica()">Modifica</button>

    </div>
</div>